.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.logo--dark-part {
    color: var(--header-logo-color);
}

.logo--light-part {
    color: var(--footer-logo-color);
}